* {
    margin: 0;
    padding: 0;
    border: 0;

}
body {
   background-image: url("background-7.png");
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 100vh;
}

/* .searching{
    color: rgb(0, 0, 0);
        border: transparent;
        outline: none;
        font-size: 16px;
        padding: 8px 16px;
        letter-spacing: 1px;
        border-radius: 35px;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-top: 0%;
        margin-left: 40px;
        width: 200px;
    } */


.heading {
    font-size: 50px;
    margin-left: 50px;
    width: 299px;
    height: 79px;

    font-family: 'JejuGothic';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 76px;
    color: #000000;
    text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

.about-section {
    font-size: 33px;
    margin-left: 50px;
    margin-bottom: 0px;
}

.about-section-info {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.register-now {
    
    color: black;
    border: none;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    transition:  0.5s;
    background-color: rgba(59, 58, 58, 0.079);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
        box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
}
.register-now:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1.15);
    transform: scale(1.2);
}

.introducing-portal {
    text-align: center;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.mentorship {
    width: 250px;
    border-radius: 125px;
    margin-left: 15%;

}

.raise-funds {
    width: 250px;
    border-radius: 125px;
    margin-left: 15%;
}

.Revenue-growth {
    width: 250px;
    border-radius: 125px;
    margin-left: 15%;
}

.mentorship-button {
    margin-left: 36%;
    font-size: larger;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

.raise-funds-button {
    margin-left: 35%;
    font-size: larger;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

.revenue-growth-button {
    margin-left: 28%;
    font-size: larger;
    cursor: pointer;
    background-color: transparent;
    border-color: transparent;
}

.mentorship-desc {
   
    font-size: larger;
    text-align: center;
    margin-left:5% ;
}

.raise-funds-desc {
    margin-left: 40%;
    font-size: larger;
    
}

.revenue-desc {
    margin-left: 5%;
    font-size: larger;
    text-align: center;

}
.mentorship-div{
    width: 350px;
        display: inline-block;
        vertical-align: top;
        margin-right: 1%;
        margin-left: 13%;
        background-color: rgba(59, 58, 58, 0.079);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
        box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
}
.raise-div{
    width: 350px;
        display: inline-block;
        vertical-align: top;
        margin-right:1%;
        margin-left: 1%;
        background-color: rgba(59, 58, 58, 0.079);
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
            box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
}
.revenue-div{
    width: 350px;
        display: inline-block;
        vertical-align: top;
        margin-right: 10%;
        margin-left: 1%;
        background-color: rgba(59, 58, 58, 0.079);
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
            box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
      
}
.blog-header {
    border-bottom: #777;
        padding: 20px 60px;
        text-align: center;
        margin-top: 100px;
        
}
        .thumbnail {
            width: 300px;
            border-radius: 3px;
            display: block;
            background-color: transparent;
        
        }
        .blog-button {
            
            font-size: medium;
            cursor: pointer;
            background-color: transparent;
            border-color: transparent;
            color: #000000;
        }
    
        .thumbnail-2 {
            width: 300px;
            border-radius: 3px;
            display: block;
            background-color: transparent;
        }
        .blog-title {
            width: 300px;
            font-size: 20px;
        }
    
        .blog-preview {
            width: 300px;
            display: inline-block;
            vertical-align: top;
            margin-right: 80px;
            margin-left: 15%;
            background-color: rgba(255, 255, 255, 0.06);
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
                -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
                box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);

        }
    
        .blog-preview-2 {
            width: 300px;
            display: inline-block;
            vertical-align: top;
            margin-right: 80px;
            background-color: rgba(255, 255, 255, 0.06);
                -webkit-backdrop-filter: blur(20px);
                backdrop-filter: blur(20px);
                -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
                box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
        }
        .blog-preview-3 {
        width: 300px;
        display: inline-block;
        vertical-align: top;
        margin-right: 12%;
        background-color: rgba(255, 255, 255, 0.06);
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
            box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
        }
body {
    font-family: 'Work Sans', sans-serif;
}

.faq-heading {
    border-bottom: #777;
    padding: 20px 60px;
    text-align: center;
    margin-top: 100px;
}

.faq-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.06);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        -webkit-box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
        box-shadow: 20px 20px 22px rgba(0, 0, 0, 0.2);
        margin-left: 15%;
        margin-right: 15%;

}

.hr-line {
    width: 60%;
    margin: auto;

}

/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}

.faq-body {
    margin: auto;
    /* text-align: center; */
    width: 50%;
    padding: auto;

}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #ffffff;
}

/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: transparent;
    display: none;
    overflow: hidden;
}

.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}
.contact-us {
    text-align: center;
    background-color: transparent;
    color: #000000;
}


@import url('https://fonts.googleleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

    /* {
    margin: 0;
    padding: 0;
    box-sizing: none;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow: hidden;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #3261e2, #55ace2);
}

section .color {
    position: absolute;
    filter: blur(150px); // pink-white background color
}

section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background: #637eff;
}

section .color:nth-child(2) {
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: #0632ff;
}

section .color:nth-child(3) {
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: whitesmoke
} */

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    animation-delay: calc(-1s * var(--i));
    animation: animate 10s linear infinite;
}

@keyframes animate {

    0%,
    100% {
        transform: translateY(-40px);
    }

    50% {
        transform: translateY(40px);
    }
}

.box .square:nth-child(1) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;

}

.box .square:nth-child(2) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
    z-index: 2;
}

.box .square::nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}

.box .square::nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
}

.box .square::nth-child(5) {
    top: -80px;
    left: 140px;
    width: 60px;
    height: 60px;
}

/* .container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
} */

.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.form h2 {
    position: relative;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    Letter-spacing: 1px;
    margin-bottom: 40px;
}

.form h2::before {
    left: 0;
    width: 80px;
    height: 4px;
    content: '';
    bottom: -10px;
    background: #fff;
    position: absolute;
}

.form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.form .inputBox input {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 16px;
    letter-spacing: 1px;
    border-radius: 35px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 5px 15px black;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
   margin-left: 0%;
}

.form .inputBox input::placeholder {
    color:black;
}
.search-logo{
    display: inline;
    width: 5px;
    
}








