/* 81% of storage used … You can clean up space or get more storage for Drive, Gmail and Google Photos. */
* {
  margin: 0px;
  padding: 0px;
  
}
body {
  font-size: 120%;
  background: linear-gradient(to bottom, #3261e2, #55ace2);
  padding-bottom: 500px;
}

.header {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #0313ff;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.75);
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #0000ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #000000; 
  background: #d8def0; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.75);
}
